	.lang { 
		/* background-color: #f0f0f0;*/ /* Цвет текста */
		width: 400px;
		float: left;
		margin: 5px;
	}
	div.sentence { 
		border: 3px solid #A1BF34;
		margin-bottom: 10px;
		display: inline-block;
		border-radius: 10px;
		background-color: #B0D91E;
	}