	.lang { 
		/* background-color: #f0f0f0;*/ /* Цвет текста */
		/* width: 400px; */
		float: left;
		text-align: left;
		margin: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 45%;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.25rem;
	}
	
	/* https://habr.com/ru/company/mailru/blog/315196/ */
	@media (min-width: 320px) {
		.lang { 
			float: left;
			margin: 5px;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
			width: 45%;
			font-family: 'Open Sans', sans-serif;
			font-size: calc(1.25rem + 3vw);
		}
	}
	
	@media (min-width: 960px) {
		.lang { 
			float: left;
			margin: 5px;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
			width: 45%;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.25rem;
		}
	}
	
	div.sentence { 
		border: 3px solid #A1BF34;
		margin-bottom: 10px;
		display: inline-block;
		border-radius: 10px;
		background-color: #B0D91E;
		width: 90%;
		padding: 5px;
		/* margin: auto; */
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}

        div.message {
                border: 3px solid #A1BF34;
                margin-bottom: 10px;
                display: inline-block;
                border-radius: 10px;
                background-color: #DFFF00;
                width: 90%;
                padding: 5px;
                /* margin: auto; */
                margin-left: auto;
                margin-right: auto;
                /* display: flex; */
		font-family: 'Open Sans', sans-serif;
		font-size: calc(1.25rem);
        }

	div.title-block { 
		border: 3px solid #A1BF34;
		margin-bottom: 10px;
		display: inline-block;
		border-radius: 10px;
		background-color: #d5d91e;
		width: 90%;
		padding: 5px;
		/* margin: auto; */
		margin-left: auto;
		margin-right: auto;
		/* display: flex; */
		text-align: center;
	}

	div.entire-form { 
		/*margin-bottom: 10px;
		display: inline-block;
		display: inline-flex;*/
		width: 90%;
		padding: 5px;
		margin: auto;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	
	h1 {
		font-family: 'Roboto', sans-serif;
		color: black;
		text-decoration: none;
	}
	
	div.container {
		min-width: 700px;
		max-width: 75%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}
	
	div.inner-container {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		min-width: 700px;
		max-width: 1200px;
	}
	
	input.form-control {
		font-size: 20pt;
		width: 100%;
		border-radius: 5px;
		/*border: 1px solid;*/
	}
	
	div.about {
		font-family: 'Open Sans', sans-serif;
		text-align: left;
		width: 90%;
		padding: 5px;
		margin: auto;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	
	div.footer {
		margin-bottom: 10px;
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		width: 90%;
		padding: 5px;
		margin: auto;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
	
	span.word-hl {
		font-weight: bold;
		/* text-decoration: underline; */
		font-style: italic;
		/* color: #BFB63B; */
	}
	
