		<div class="about">
		<h2>dihoc.ru</h2>
		<h3>русско-вьетнамский / вьетнамско-русский контекстный словарь</h3>
		Словарь даёт не просто перевод слова, а готовые предоложения с этим словом. Так что можно подобрать вариант перевода, лучше всего подходящий по контексту и стилю, а заодно позаимствовать готовую конструкцию предложения. Вдохновление почерпнуто в <a href="https://context.reverso.net/%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4/">ReversoContext</a>.
		<br><br>
		Предложений в словаре пока немного, но простые слова типа мама-папа-дом уже можно найти. База предложений постепенно пополняется. Будет больше предложений с подсветкой соответствия слов на двух языках.
		<br><br>
		Технические подробности и код движка лежат на <a href="https://github.com/dm-bo/slicedlang">гитхабе</a>. Туда можно писать вопросы, предложения, багрепорты и патчи. Там же можно убедиться, что проект живой.
		<br><br>
		Желающим помочь — велкам) Можно писать код, рисовать дизайн, находить двуязычные тексты или расставлять разметку в существующих. Или просто рассказать другим.
		<br><br>
		Быстро задать вопрос без регистрации можно <a href="https://2ch.hk/fl/res/383999.html">здесь</a> (да, это двач)).
		<br><br>
		<!--a href="https://dihoc.ru">Вернуться на главную</a-->

		<h2>FAQ</h2>
		<h3>Как вводить текст на вьетнамском?</h3>
		В Windows есть некая вьетнамская раскладка клавиатуры, когда клавиши с цифрами используются для ввода диакритических символов (характерных вьетнамских "закорючек"). Однако, такая раскладка работает плохо, потому что:
		<ol><li>Неудобно: до четвёртого ряда клавиш далеко тянуться, символы расположены нелогично, для ввода цифр нужно переключать раскладку.
		<li>Нетехнологично: при таком вводе буква состоит отдельно из символа буквы и символа "закорючки", такие комбинации работают плохо. И не работают в этом словаре.
		</ol>
		Лучше так:
                <ol><li>Идём на <a href="https://download.unikey.info/#download">https://download.unikey.info/#download</a>, качаем, запускаем (жмём "Đóng")
		<li>В трее появится значок: синяя E или красная V (обычно переключается по Ctrl+Shift). E - для ввода на русском или английском (переключаются по Alt+Shift), V - для вьетнамского.
		<li>Во "вьетнамском" режиме правила ввода такие:
		<ul>
		<li>oo даёт ô, ee - ê, dd - đ
		<li>ow - ơ, uw - ư, aw - ă
		<li>j после гласной ставит подстрочную точку, например, aj - ạ
		<li>соответственно, as - á, af - à, ax - ã, ar - ả
		</ul>
		Всё перечисленное можно сочетать в разных комбинациях. Запоминается быстро.
		</ol>
		На Андроиде правила ввода такие же, только никаких программ качать не надо — достаточно выбрать вьетнамскую раскладку клавиатуры. С виду клавиатура не отличается от английской, но работает по этим же правилам.
		</div>
