<!DOCTYPE html>
<html lang="vi">
	<head>
		<!--meta charset="utf-8"/-->
		<title>dihoc.ru — русско-вьетнамский контекстный словарь</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mysite.css') }}">
		<title>SBS</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet"> 
		<style>
		@font-face {
			font-family: 'Roboto', sans-serif;
		}
		</style>
	</head>
	<body>
		<script src="{{ url_for('static',filename='js/filename.js') }}" ></script>
	<div class="container">
	<div class="inner-container">
	<div class="about">
		<h2>dihoc.ru</h2>
		<h3>русско-вьетнамский контекстный словарь</h3>
		Словарь подбирает не просто перевод слова, а предоложения с этим словом. Это позволяет подобрать вариант перевода, лучше всего подходящий по контексту и стилю, а заодно позаимствовать готовую конструкцию предложения.
		<br><br>
		Предложений в нём пока немного, но просты слова типа мама-папа-дом уже можно найти. С русского на вьетнамский переводит лучше, чем наоборот (это будет исправлено). Сейчас фокус на движке, позже силы будут переброшены на контент и (хотелось бы) дизайн.
		<br><br>
		Вдохновление почерпнуто в <a href="https://context.reverso.net/%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4/">ReversoContext</a>.
		<br><br>
		Технические подробности и код движка лежат на <a href="https://github.com/dm-bo/slicedlang">гитхабе</a>. Туда можно писать вопросы, предложения, багрепорты и патчи. Там же можно убедиться, что проект живой.
		<br><br>
		Быстро задать вопрос без регистрации можно <a href="https://dihoc.ru">здесь</a> (да, это двач)).
		<br><br>
		<a href="https://dihoc.ru">Вернуться на главную</a>
	</div>
	</div>
	</div>
	</body>
</html>