<!DOCTYPE html>
<html lang="vi">
	<head>
		<!--meta charset="utf-8"/-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mysite.css') }}">
		<title>SBS</title>
	</head>
	<body>
		<script src="{{ url_for('static',filename='js/filename.js') }}" ></script>
		{% for parag in parags %}
		<div id="p{{parag.count}}" class="sentence">
			<div class="lang">
			{% for part in parag.origparts %}
				{% if part.tagnumber %}
					<span class="word" id="w{{part.tagnumber}}">{{part.part}}</span>
				{% else %}
					{{part.part}}
				{% endif %}
			{% endfor %}
			</div><div class="lang">
			{% for tpart in parag.tranparts %}
				{% if tpart.tagnumber %}
					<span class="word" id="w{{tpart.tagnumber}}">{{tpart.part}}</span>
				{% else %}
					{{tpart.part}}
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<br><br>
		{% endfor %}
		
		{% if g.search_form %}
		<form class="navbar-form navbar-left" method="get"
				action="{{ url_for('main.search') }}">
			<div class="form-group">
				{{ g.search_form.q(size=20, class='form-control',
					placeholder=g.search_form.q.label.text) }}
			</div>
		</form>
			<h1>G is here</h1>
		{% endif %}
	</body>
</html>