<!DOCTYPE html>
<html lang="vi">
	<head>
		<!--meta charset="utf-8"/-->
		<title>dihoc.ru — русско-вьетнамский контекстный словарь</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mysite.css') }}">
		<title>SBS</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
		<style>
		@font-face {
			font-family: 'Roboto', sans-serif;
		}
		</style>
		{% include "includes/head.j2" ignore missing %}
	</head>
	<body>
	<script src="{{ url_for('static',filename='js/filename.js') }}" ></script>
	<div class="container">
	<div class="inner-container">
		<!--div class="title-block"-->
			<a href="https://dihoc.ru/"><h1>Русско-вьетнамский контекстный словарь</h1></a>
		<!--/div-->
		{% if g.search_form %}
		<div class="entire-form">
			<form class="navbar-form navbar-left" method="get"
					action="{{ url_for('main.search') }}">
			<div class="form-group" style="display: flex;">
				<div style="flex-grow: 0.8; display: flex;"> 
					<!-- g.search_form.q.label.text -->
						{{ g.search_form.q(size=20, class='form-control',
							placeholder='пиши по-русски или bắng tiếng Việt') }}
					<!--input class="form-control" id="q" name="q" placeholder="Search" required="" size="20" type="text" value="бабба"-->
					
				</div>
				<div style="flex-grow: 0.2; display: flex;"> 
					<input type="submit" value="Отправить" style="font-size: 20pt; width: 100%;">
				</div>
			</div>
			</form>
		</div>
		<br>
		{% endif %}
		
		{% block app_content %}
			{% for mesg in mesgs %}
				<div class="message">{{mesg}}</div>
			{% endfor %}
			{% for parag in parags %}
			<div id="p{{parag.count}}" class="sentence">
				<div class="lang">
				{% for part in parag.origparts %}
					{% if part.tagnumber %}
						<span class="word" id="w{{part.tagnumber}}">{{part.part}}</span>
					{% else %}
						{{part.part}}
					{% endif %}
				{% endfor %}
				</div><div class="lang">
				{% for tpart in parag.tranparts %}
					{% if tpart.tagnumber %}
						<span class="word" id="w{{tpart.tagnumber}}">{{tpart.part}}</span>
					{% else %}
						{{tpart.part}}
					{% endif %}
				{% endfor %}
				</div>
				<div><span title="{{parag.hint}}">ⓘ</span></div>
			</div>
			<!--br--><!--br-->
			{% endfor %}
			<!--
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous{% if not prev_url %} disabled{% endif %}">
						<a href="{{ prev_url or '#' }}">
							<span aria-hidden="true">&larr;</span>
							{{ 'Previous results' }}
						</a>
					</li>
					<li class="next{% if not next_url %} disabled{% endif %}">
						<a href="{{ next_url or '#' }}">
							{{ 'Next results' }}
							<span aria-hidden="true">&rarr;</span>
						</a>
					</li>
				</ul>
			</nav>
			-->
			{% if g.search_form.q.data %}
				<h1>{{ 'Найдено' }} {{total}} фраз по запросу <i>{{query}}</i></h1>
			{% else %}
				{% include "includes/news.j2" ignore missing %}
				{% include "includes/about.j2" %}
			{% endif %}

			

		{% endblock %}
		<br>
		<div class="footer">
			<a href="https://dihoc.ru/about">О сайте</a>
		</div>
	</div>
	</div>
	</body>
</html>
